<!--Mobile content-->

<section class="d-md-none d-flex">
  <div class="row">
    <div class="card profile-card-2 card-style">
      <div class="card-img-block">
        <img
          class="img-fluid"
          src="assets/carousel-image3.jpeg"
          alt="Card image cap"
        />
      </div>
      <div class="card-body pt-5">
        <div class="row">
          <div class="col-6">
            <img
              src="https://randomuser.me/api/portraits/men/64.jpg"
              alt="profile-image"
              class="profile"
            />
          </div>
          <div class="col-6 icon-position" [align]="'right'">
            <img
              class="icon-size"
              src="assets/share-white-rounded-icon.png"
              style="margin-right: 0.7rem"
            />

            <img class="icon-size" src="assets/qrcode-white-rounded-icon.png" />
          </div>
        </div>
        <h5 class="mt-2 text-light" style="font-size:27px"><b>Mario Rossinettini</b></h5>
        <span class="card-subtitle text-light">CEO - EZcard </span>

        <div class="mt-4 mb-4">
          <button type="button" class="btn save-button">
            <span class="text-light"
              ><img
                class="add-icon"
                src="assets/add-contact-icon.png"
                style="margin-right: 0.75rem"
              />Aggiungi ai contatti</span
            >
          </button>
        </div>

        <p class="card-text text-light">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl
          est, malesuada sed varius at, ullamcorper in enim. Etiam congue auctor
          dolor, in
        </p>
        <div class="row mt-5 mb-5">
          <div class="col-12" style="text-align: center">
            <img
              class="icon-size-mob"
              src="assets/facebook-white-rounded-icon.png"
            />

            <img
              class="icon-size-mob"
              src="assets/instagram-white-rounded-icon.png"
            />

            <img
              class="icon-size-mob"
              src="assets/linkedin-white-rounded-icon.png"
            />

            <img
              class="icon-size-mob"
              src="assets/whatsapp-white-rounded-icon.png"
            />

            <img
            class="icon-size-mob"
            src="assets/youtube-white-rounded-icon.png" />
          </div>
        </div>

        <div *ngIf="!editContacts" class="row">
          <div class="col-8">
            <span class="card-subtitle-web text-light">{{contacts}}</span>
            <img
              (click)="editContacts = !editContacts"
              class="edit-icon"
              src="assets/edit-white-icon.png"
            />
          </div>
        </div>

        <div *ngIf="editContacts" class="row">
          <div class="col-10">
            <div class="input-group">
              <input
              #contText
              class="form-control"
              style="border-radius: 0.4rem"
              [ngModel]="contacts"
            />

            <img
            (click)="editContacts = !editContacts; contacts = contText.value"
            class="edit-text-icon"
            src="assets/check-white-rounded-icon.png"
            style="margin-left: 0.5rem"
             />

            <img
            (click)="editContacts = !editContacts"
            class="edit-text-icon"
            src="assets/cancel-white-rounded-icon.png"
            style="margin-left: 1rem"
             />
            </div>
          </div>
        </div>
        <div class="card card-contact mt-3 mb-5">
          <span class="text-light">
            <img
              class="icon-card"
              src="assets/phone-white-icon.png"
            />+39123456789</span
          >
          <hr />
          <span class="text-light"
            ><img
              class="icon-card"
              src="assets/email-white-icon.png"
            />mariorossi@mail.com</span
          >
          <hr />
          <span class="text-light"
            ><img
              class="icon-card"
              src="assets/internet-white-icon.png"
            />www.mariorossi.com</span
          >
        </div>

        <div *ngIf="!editCompany" class="row">
          <div class="col-8">
            <span class="card-subtitle-web text-light">{{company}}</span>
            <img
              (click)="editCompany = !editCompany"
              class="edit-icon"
              src="assets/edit-white-icon.png"
            />
          </div>
        </div>

        <div *ngIf="editCompany" class="row ">
          <div class="col-10">
            <div class="input-group">
              <input
              #cText
              class="form-control"
              style="border-radius: 0.4rem"
              [ngModel]="company"
            />

            <img
            (click)="editCompany = !editCompany; company = cText.value"
            class="edit-text-icon"
            src="assets/check-white-rounded-icon.png"
            style="margin-left: 0.5rem"
             />

            <img
            (click)="editCompany = !editCompany"
            class="edit-text-icon"
            src="assets/cancel-white-rounded-icon.png"
            style="margin-left: 1rem"
             />
            </div>
          </div>
        </div>
        <div class="card card-contact mt-3 mb-5">
          <span class="text-light"> <img class="icon-card" src="assets/company-white-icon.png">Azienda</span>
          <hr>
          <span class="text-light"><img class="icon-card" src="assets/piva-white-icon.png">123456789</span>
          <hr>
          <span class="text-light"><img class="icon-card" src="assets/position-white-icon.png">Via Roma, 15</span>
          <hr>
          <span class="text-light"><img class="icon-card" src="assets/phone-white-icon.png">+39 123 456 7891</span>
           <hr>
          <span class="text-light"><img class="icon-card" src="assets/email-white-icon.png">email@email.com</span>
          <hr>
          <span class="text-light"><img class="icon-card" src="assets/internet-white-icon.png">www.ezcard.it</span>
          <hr>
          <span class="text-light"><img class="icon-card" src="assets/sdicode-white-icon.png">XXXXX</span>
          <hr>
          <span class="text-light"><img class="icon-card" src="assets/pec-white-icon.png">pec@pec.it</span>
          <hr>
          <div class="row">
            <div class="col-12" style="text-align: center">
              <img
                class="social-icon-card-mob"
                src="assets/facebook-white-rounded-icon.png"
              />

              <img
                class="social-icon-card-mob"
                src="assets/instagram-white-rounded-icon.png"
              />

              <img
                class="social-icon-card-mob"
                src="assets/whatsapp-white-rounded-icon.png"
              />

              <img
                class="social-icon-card-mob"
                src="assets/linkedin-white-rounded-icon.png"
              />


            </div>
          </div>
        </div>

        <div class="card card-background mb-5">
          <div class="row">
            <div class="col-9">
              <div>
                <span class="card-subtitle text-light">Presentazione</span>
              </div>
              <div>
                <span class="card-title text-light"><b>AZIENDA</b> </span>
              </div>
            </div>

            <div class="col-3" style="text-align: right">
              <img
                class="icon-size-button"
                src="assets/download-white-icon.png"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-9">
              <div>
                <span class="card-subtitle text-light">Presentazione</span>
              </div>
              <div>
                <span class="card-title text-light"><b>PRODOTTO 1</b></span>
              </div>
            </div>

            <div class="col-3" style="text-align: right">
              <img
                class="icon-size-button"
                src="assets/download-white-icon.png"
              />
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-9">
              <div>
                <span class="card-subtitle text-light">Presentazione</span>
              </div>
              <div>
                <span class="card-title text-light"><B>SERVIZIO 1</B></span>
              </div>
            </div>

            <div class="col-3" style="text-align: right">
              <img
                class="icon-size-button"
                src="assets/download-white-icon.png"
              />
            </div>
          </div>
        </div>

        <div *ngIf="!editGallery" class="row mb-3">
          <div class="col-8">
            <span class="card-subtitle-web text-light">{{gallery}}</span>
            <img
              (click)="editGallery = !editGallery"
              class="edit-icon"
              src="assets/edit-white-icon.png"
            />
          </div>
        </div>

        <div *ngIf="editGallery" class="row ">
          <div class="col-10">
            <div class="input-group mb-3">
              <input
              #gText
              class="form-control"
              style="border-radius: 0.4rem"
              [ngModel]="gallery"
            />

            <img
            (click)="editGallery = !editGallery; gallery = gText.value"
            class="edit-text-icon"
            src="assets/check-white-rounded-icon.png"
            style="margin-left: 0.5rem"
             />

            <img
            (click)="editGallery = !editGallery"
            class="edit-text-icon"
            src="assets/cancel-white-rounded-icon.png"
            style="margin-left: 1rem"
             />
            </div>
          </div>
        </div>
        <ngb-carousel #ngcarousel>
          <ng-template ngbSlide id="one">
            <div class="picsum-img-wrapper">
              <img src="assets/carousel-image1.jpeg" alt="Slide 1" />
            </div>
          </ng-template>
          <ng-template ngbSlide id="two">
            <div class="picsum-img-wrapper">
              <img src="assets/carousel-image2.jpeg" alt="Slide 2" />
            </div>
          </ng-template>
          <ng-template ngbSlide id="three">
            <div class="picsum-img-wrapper">
              <img src="assets/carousel-image3.jpeg" alt="Slide 3" />
            </div>
          </ng-template>
        </ngb-carousel>

        <div *ngIf="!editPartner" class="row mt-5 mb-3">
          <div class="col-8">
            <span class="card-subtitle-web text-light">{{partner}}</span>
            <img
              (click)="editPartner = !editPartner"
              class="edit-icon"
              src="assets/edit-white-icon.png"
            />
          </div>
        </div>

        <div *ngIf="editPartner" class="row mt-5 mb-3">
          <div class="col-10">
            <div class="input-group ">
              <input
              #pText
              class="form-control"
              style="border-radius: 0.4rem"
              [ngModel]="partner"
            />

            <img
            (click)="editPartner = !editPartner; partner = pText.value"
            class="edit-text-icon"
            src="assets/check-white-rounded-icon.png"
            style="margin-left: 0.5rem"
             />

            <img
            (click)="editPartner = !editPartner"
            class="edit-text-icon"
            src="assets/cancel-white-rounded-icon.png"
            style="margin-left: 1rem"
             />
            </div>
          </div>
        </div>

        <ngb-carousel #ngcarousel>
          <ng-template ngbSlide id="one">
            <div class="picsum-img-wrapper">
              <img
                class="image-carousel"
                src="assets/white-logo.png"
                alt="Slide 1"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide id="two">
            <div class="picsum-img-wrapper">
              <img
                class="image-carousel"
                src="assets/white-logo.png"
                alt="Slide 2"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide id="three">
            <div class="picsum-img-wrapper">
              <img
                class="image-carousel"
                src="assets/white-logo.png"
                alt="Slide 3"
              />
            </div>
          </ng-template>
        </ngb-carousel>

        <hr class="mt-5" />

        <div class="mt-4" style="text-align: center">
          <img type="button" href="https://www.ezcard.it" class="logo" src="assets/white-logo.png" />
        </div>
        <div class="mt-2" style="text-align: center">
          <span class="text-light" style="font-size: 10px;" >POWERED BY <b><a href="https://www.ezcard.it" class="text-light">EZCARD</a></b></span>
        </div>
      </div>
    </div>
  </div>
</section>








<!-- Web content -->
<div class="row d-md-flex d-none">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div class="card profile-card-2 card-style">
      <img
        class="img-fluid"
        src="assets/carousel-image3.jpeg"
        alt="Card image cap"
      />

      <div class="card-body pt-5">
        <img
          src="https://randomuser.me/api/portraits/men/64.jpg"
          alt="profile-image"
          class="profile-web"
        />

        <div style="margin: 3rem">
          <h5 class="card-title-web mt-5 text-light"><b>Mario Rossinettini</b></h5>
          <span class="card-subtitle-web text-light">CEO - EZcard </span>

          <div class="mt-4 mb-4">
            <button type="button" class="btn save-button">
              <span class="text-light"
                ><img
                  class="add-icon"
                  src="assets/add-contact-icon.png"
                  style="margin-right: 0.75rem"
                />Aggiungi ai contatti</span
              >
            </button>
          </div>

          <p class="card-text text-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl
            est, malesuada sed varius at, ullamcorper in enim. Etiam congue
            auctor dolor, in
          </p>
          <div class="row mt-5 mb-5" style="text-align: center">
            <div class="col-1"></div>
            <div class="col-2">
              <img
                class="icon-size"
                src="assets/instagram-white-rounded-icon.png"
              />
            </div>
            <div class="col-2">
              <img
                class="icon-size"
                src="assets/facebook-white-rounded-icon.png"
              />
            </div>
            <div class="col-2">
              <img
                class="icon-size"
                src="assets/twitter-white-rounded-icon.png"
              />
            </div>
            <div class="col-2">
              <img
                class="icon-size"
                src="assets/linkedin-white-rounded-icon.png"
              />
            </div>
            <div class="col-2">
              <img
                class="icon-size"
                src="assets/pinterest-white-rounded-icon.png"
              />
            </div>
            <div class="col-1"></div>
          </div>


          <div class="card card-contact mt-3 mb-5">
            <span class="text-light">
              <img
                class="icon-card"
                src="assets/phone-white-icon.png"
              />+39123456789</span
            >
            <hr />
            <span class="text-light">
              <img
                class="icon-card"
                src="assets/email-white-icon.png"
              />mariorossi@mail.com</span
            >
            <hr />
            <span class="text-light"
              ><img
                class="icon-card"
                src="assets/internet-white-icon.png"
              />www.mariorossi.com</span
            >
          </div>


          <div class="card card-contact mt-3 mb-5">
            <span class="text-light"> <img class="icon-card" src="assets/company-white-icon.png">Azienda</span>
            <hr>
            <span class="text-light"><img class="icon-card" src="assets/piva-white-icon.png">123456789</span>
            <hr>
            <span class="text-light"><img class="icon-card" src="assets/position-white-icon.png">Via Roma, 15</span>
            <hr>
            <span class="text-light"><img class="icon-card" src="assets/phone-white-icon.png">+39 123 456 7891</span>
             <hr>
            <span class="text-light"><img class="icon-card" src="assets/email-white-icon.png">email@email.com</span>
            <hr>
            <span class="text-light"><img class="icon-card" src="assets/internet-white-icon.png">www.ezcard.it</span>
            <hr>
            <span class="text-light"><img class="icon-card" src="assets/sdicode-white-icon.png">XXXXX</span>
            <hr>
            <span class="text-light"><img class="icon-card" src="assets/pec-white-icon.png">pec@pec.it</span>
            <hr>
            <div class="row" style="text-align: center">
              <div class="col-2"></div>
              <div class="col-2">
                <img
                  class="social-icon-card"
                  src="assets/instagram-white-rounded-icon.png"
                />
              </div>
              <div class="col-2">
                <img
                  class="social-icon-card"
                  src="assets/facebook-white-rounded-icon.png"
                />
              </div>
              <div class="col-2">
                <img
                  class="social-icon-card"
                  src="assets/twitter-white-rounded-icon.png"
                />
              </div>
              <div class="col-2">
                <img
                  class="social-icon-card"
                  src="assets/linkedin-white-rounded-icon.png"
                />
              </div>
              <div class="col-2"></div>
            </div>
          </div>

          <div class="card card-background mb-5">
            <div class="row">
              <div class="col-6">
                <div>
                  <span class="card-subtitle text-light">Presentazione</span>
                </div>
                <div>
                  <span class="card-title text-light"><B>AZIENDA</B></span>
                </div>
              </div>

              <div class="col-6" style="text-align: right">
                <img
                  class="icon-size-button"
                  src="assets/download-white-icon.png"
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <div>
                  <span class="card-subtitle text-light">Presentazione</span>
                </div>
                <div>
                  <span class="card-title text-light"><B>PRODOTTO 1</B></span>
                </div>
              </div>

              <div class="col-6" style="text-align: right">
                <img
                  class="icon-size-button"
                  src="assets/download-white-icon.png"
                />
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <div>
                  <span class="card-subtitle text-light">Presentazione</span>
                </div>
                <div>
                  <span class="card-title text-light"><B>SERVIZIO 1</B></span>
                </div>
              </div>

              <div class="col-6" style="text-align: right">
                <img
                  class="icon-size-button"
                  src="assets/download-white-icon.png"
                />
              </div>
            </div>
          </div>




          <ngb-carousel #ngcarousel>
            <ng-template ngbSlide id="one">
              <div class="picsum-img-wrapper">
                <img src="assets/carousel-image1.jpeg" alt="Slide 1" />
              </div>
            </ng-template>
            <ng-template ngbSlide id="two">
              <div class="picsum-img-wrapper">
                <img src="assets/carousel-image2.jpeg" alt="Slide 2" />
              </div>
            </ng-template>
            <ng-template ngbSlide id="three">
              <div class="picsum-img-wrapper">
                <img src="assets/carousel-image3.jpeg" alt="Slide 3" />
              </div>
            </ng-template>
          </ngb-carousel>




          <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let slide of slidesStore">
              <ng-template carouselSlide>
                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
              </ng-template>
            </ng-container>

          </owl-carousel-o>

          <hr class="mt-5" />

          <div class="mt-4" style="text-align: center">
            <img type="button" class="logo" src="assets/white-logo.png" />
          </div>
          <div href="https://www.ezcard.it" class="mt-2" style="text-align: center">
            <span class="text-light" style="font-size: 10px;" >POWERED BY <b><a href="https://www.ezcard.it" class="text-light">EZCARD</a></b></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>
