<div class="modal-header" style="background-color: var(--black_ez)">
  <div>
    <img class="icon-size" src="/assets/presentation-white-rounded-icon.png"/>
    <span class="section-title text-light" style="padding-left: 1rem"
    >Presentazione</span
    >
  </div>

  <img
    class="btn-close cancel"
    type="button"
    src="/assets/cancel-icon-white.png"
    (click)="closeModal()"
  />
</div>

<div class="modal-body border-radius-popup gray-background">

  <div class="container text-center mt-2" style="margin-bottom: 3rem;">
    <!-- Apply DropZone Directive -->
    <div type="button" class="dropzone" DropZone (click)="inputClick.click()" (onFileDropped)="droppedFiles($event)">
      <input #inputClick type="file" hidden multiple (change)="choosedFiles($event)" />
      <div class="text-center">
        <span class="note needsclick">Trascina qui i tuoi file.</span>
      </div>
      <div class="text-center">
        <span class="note needsclick">Puoi caricare fino ad un massimo di 15 file.</span>
      </div>
      <div *ngIf="allFiles.length==15">
        <span class="note needsclick" style="color: red;">Hai superato il limite del super sayan che ha superato il limite</span>

      </div>
    </div>
    <div class="file-table">
      <h3 class="m-3">Lista dei file caricati</h3>
      <div class="table-wrapper">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome del file</th>
          <!--<th scope="col">Dimensione</th>-->
          <th scope="col">Tipo</th>
          <th scope="col">Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let f of allFiles; let i = index">
          <!--<th scope="row">{{i+1}}</th> -->
          <th scope="row">
            <img [src]="f.link" width="20" height="20"/>
          </th>
          <td>{{f.name}}</td>
          <!--<td>{{f.size}} Bytes</td>-->
          <td>{{f.type}}</td>

          <td><button class="btn btn-danger" (click)="removeFile(i)">Rimuovi</button></td>
        </tr>
        <tr class="text-center" *ngIf="allFiles.length === 0">
          <td colspan="4"><strong>Nessun file caricato</strong></td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>


  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn text-light save-button" (click)="sendFiles()">
      <span class="text-light save-label section-title">SALVA</span>
    </button>
  </div>

</div>
