.rounded-card {
  background-color: var(--black_ez);
  border-radius: 0.15rem;
}

.login-button {
  background-color: var(--green_ez);
  padding: 0 1rem;
  border-radius: 0.15rem;
}

.form-check-input:checked {
  background-color: var(--green_ez);
  border-color: var(--green_ez);
}
