<div class="card mx-auto mt-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <form class="form">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="form-group mt-3">
              <label for="username">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control"
                placeholder="Username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
              />
            </div>
            <div class="row mt-2">
              <div class="d-flex flex-row-reverse">
                <input
                  type="submit"
                  name="RESET"
                  class="btn btn-md text-light bg-dark m-2"
                  value="RESET"
                />
                <a routerLink="/login" class="link-dark m-3">Torna al login</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
