<div class="modal-header" style="background-color: var(--black_ez)">
  <div>
    <img class="user" src="assets/social-icon-white.png"/>
    <span class="section-title text-light" style="padding-left: 1rem"
    >Contatti</span
    >
  </div>

  <img
    class="btn-close cancel"
    type="button"
    src="assets/cancel-icon-white.png"
    (click)="closeModal()"
  />
</div>
<div class="modal-body border-radius-popup gray-background">
  <form>


    <div class="row mt-3">


      <div class="col-md-6">
        <div class="input-group mb-md-5 mb-3">
          <img style="margin-right: 0.5rem" class="social-icon" src="assets/phone-icon.png">
          <input id="phone" class="form-control" style="border-radius: 0.25rem;" />
        </div>
      </div>


      <div class="col-md-6">
        <div class="input-group mb-md-5 mb-3">
          <img style="margin-right: 0.5rem" class="social-icon" src="assets/email-message-icon.png">
          <input id="email" class="form-control"  style="border-radius: 0.25rem;"/>
        </div>
      </div>


    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="input-group mb-md-5 mb-4">
          <img  style="margin-right: 0.5rem" class="social-icon" src="assets/internet-icon.png">
          <input id="internet" class="form-control" style="border-radius: 0.25rem;" />
        </div>
      </div>

    </div>


  </form>

  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn text-light save-button">
      <span class="text-light save-label section-title">SALVA</span>
    </button>
  </div>

</div>
