<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block">
            <img src="/src/assets/login.png"/>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Accedi</h1>
              </div>

              <form class="user" method="post">
                <div class="form-group mt-2">
                  <input
                    type="email"
                    class="form-control"
                    aria-describedby="emailHelp"
                    placeholder="Nome utente o indirizzo email *"
                    data-val="true"
                    data-val-email="The Email field is not a valid e-mail address."
                    data-val-required="The Email field is required."
                    id="Email"
                    name="Email"
                    value=""
                  />
                </div>
                <div class="form-group mt-2">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password *"
                    data-val="true"
                    data-val-required="The Password field is required."
                    id="Password"
                    name="Password"
                  />
                </div>
                <!--<div class="form-group">
                                  <div class="custom-control custom-checkbox small">
                                      <input class="custom-control-input" type="checkbox" data-val="true" data-val-required="The RememberMe field is required." id="RememberMe" name="RememberMe" value="true">
                                      <label class="custom-control-label" for="RememberMe">Ricordami</label>
                                  </div>
                              </div>-->

                <input
                  type="submit"
                  value="Accedi"
                  class="btn btn-success btn-user btn-block mt-2"
                  formaction="/Login"
                />

                <!--<input name="__RequestVerificationToken" type="hidden" value="CfDJ8My8sxLcsiVDtQeByNsvnEJIak50Sbl6gS8c6eQ1WuQlfkNvCWL-4sWv_Y76V6GV79jAQAqvJB5UrkNOmNdnMKTIgi5GCta2IlThjlUrSnHlBk-wAs7OFDv-c6-eZ5RqqaNLENXwVz-EfOCVoKuV-5E"><input name="RememberMe" type="hidden" value="false"></form>-->

                <hr />

                <div class="text-center">
                  <a class="small" href="/ForgotPassword"
                    >Reimposta la tua password</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
