<div class="row">
  <div class="col-md-4 d-flex flex-column justify-content-between" style="margin-top: 3rem">

    <!-- photo, camera and description -->
    <div>
      <div class="d-flex flex-row justify-content-center">
        <img class="rounded-circle" src="assets/avatar-image.png"/>
        <img class="camera" src="assets/camera-icon.png"/>
      </div>

      <div class="d-flex flex-row justify-content-center mt-3 mb-md-0 mb-2">
        <span style="font-size: 0.9rem; text-align: center;">Clicca sull'immagine per modificarla</span>
      </div>
    </div>

    <div class="mb-3 d-none d-md-inline-flex flex-row justify-content-center">
      <span class="section-title">Assistenza</span>
      <img
        style="margin-left: 0.5rem"
        class="question-mark"
        src="assets/question-mark.png"
      />

    </div>


  </div>

  <div class="col-md-8 main-section-style gray-background">
    <div style="padding-left: 1rem">
      <h5>Gestione Account Pubblico</h5>
    </div>

    <div *ngFor="let voice of titlesFirstSection; index as i">
      <div (click)="openGenericModal(idModalList[i])">
          <app-home-row
            [title]=voice
            [description]="descriptionsFirstSection[i]"
            [imageLink]="imageLinksFirstSection[i]"></app-home-row>
      </div>
    </div>

    <div class=" mt-5" style="padding-left: 1rem">
      <h5>Gestione Account Privato</h5>
    </div>

    <div
      class="row box-shadow"
      routerLink="/stats"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/stats-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Statistiche</span>
        </div>
        <div>
          <span style="font-size: 1rem">Visite, Click, ecc.</span>
        </div>
      </div>
    </div>

    <div
      class="row box-shadow"
      routerLink="/settings"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/settings-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Impostazioni</span>
        </div>
        <div>
          <span style="font-size: 1rem">Email, Lingua, ecc.</span>

        </div>
      </div>
    </div>
  </div>

  <div class="d-inline d-md-none">
    <div class="row assistenza-footer" [align]="'center'">
      <div>
        <span class="section-title text-light">Assistenza</span>

        <img
          style="margin-left: 0.5rem"
          class="question-mark"
          src="assets/question-mark-icon-white.png"
        />
      </div>
    </div>
  </div>
</div>


