.question-mark {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.camera {
  width: 25px;
  height: 25px;
  margin-top: 12.6rem;
  cursor: pointer;
}

span {
  color: var(--black_ez);
}

h5 {
  color: var(--black_ez);
}

.section-title {
  font-size: 1rem;
  font-weight: 700;
}

.main-section-style {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


