<ng-template #profile let-modal>
  <div class="modal-header" style="background-color: var(--black_ez)">
    <div>
      <img class="user" src="assets/user-icon-white.png"/>
      <span class="section-title text-light" style="padding-left: 1rem"
      >Profilo</span
      >
    </div>

    <img
      class="btn-close cancel"
      type="button"
      src="assets/cancel-icon-white.png"
      (click)="modal.dismiss('Cross click')"
    />
  </div>


  <div class="modal-body" style="background-color: #f7f7f7;">
    <form>


      <div class="row mb-3">
        <div class="col-md-6">
          <div>
            <span>Nome</span>
          </div>

          <div class="input-group">
            <input id="firstName" class="form-control"/>
          </div>
        </div>


        <div class="col-md-6">
          <div>
            <span>Cognome</span>
          </div>
          <div class="input-group">
            <input id="lastName" class="form-control"/>
          </div>
        </div>
      </div>


      <div class="row mb-3">
        <div class="col-md-6">
          <div>
            <span>Genere</span>
          </div>

          <div class="input-group">
            <input id="genre" class="form-control"/>
          </div>
        </div>


        <div class="col-md-6">

          <div>
            <span for="dateOfBirth">Data di nascita</span>
          </div>
          <div class="input-group">
            <input
              #datepicker="ngbDatepicker"
              class="form-control"
              name="datepicker"
              ngbDatepicker
            />
            <button
              class="btn bi bi-calendar3 text-light"
              style="background-color: var(--black_ez)"
              (click)="datepicker.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </div>


      <div class="row mb-3">
        <div class="col-md-6">
          <div>
            <span>Compagnia</span>
          </div>

          <div class="input-group">
            <input id="company" class="form-control"/>
          </div>
        </div>


        <div class="col-md-6">
          <div>
            <span>Città</span>
          </div>
          <div class="input-group">
            <input id="city" class="form-control"/>
          </div>
        </div>
      </div>


      <div class="row mb-3">
        <div class="col-md-6">
          <div>
            <span>Indirizzo</span>
          </div>

          <div class="input-group">
            <input id="address" class="form-control"/>
          </div>
        </div>


        <div class="col-md-6">


        </div>
      </div>


    </form>

    <div [align]="'right'">
      <button
        type="button"
        class="btn text-light save-button"
        (click)="modal.close('Save click')"
      >
        <span class="text-light save-label section-title">SALVA</span>
      </button>
    </div>

  </div>


</ng-template>

<ng-template #contacts let-modal>
  <div class="modal-header" style="background-color: var(--black_ez)">
    <div>
      <img class="user" src="assets/social-icon-white.png"/>
      <span class="section-title text-light" style="padding-left: 1rem"
      >Contatti</span
      >
    </div>

    <img
      class="btn-close cancel"
      type="button"
      src="assets/cancel-icon-white.png"
      (click)="modal.dismiss('Cross click')"
    />
  </div>
  <div class="modal-body" style="background-color: #f7f7f7;">
    <form>


      <div class="row mb-5 mt-3">


        <div class="col-md-6">
          <div class="input-group">
            <img style="margin-right: 0.5rem" class="social-icon" src="assets/phone-icon.png">
            <input id="phone" class="form-control" style="border-radius: 0.25rem;" />
          </div>
        </div>


        <div class="col-md-6">
          <div class="input-group">
            <img style="margin-right: 0.5rem" class="social-icon" src="assets/email-message-icon.png">
            <input id="email" class="form-control"  style="border-radius: 0.25rem;"/>
          </div>
        </div>


      </div>


      <div class="row mb-3">
        <div class="col-md-6">
          <div class="input-group">
            <img  style="margin-right: 0.5rem" class="social-icon" src="assets/internet-icon.png">
            <input id="internet" class="form-control" style="border-radius: 0.25rem;" />
          </div>
        </div>

      </div>


    </form>

    <div [align]="'right'" >
      <button
        type="button"
        class="btn text-light save-button"
        (click)="modal.close('Save click')"
      >
  <span class="text-light save-label section-title">SALVA</span>
      </button>
    </div>

  </div>
</ng-template>

<ng-template #social let-modal>
  <div class="modal-header" style="background-color: var(--black_ez)">
    <div>
      <img class="user" src="assets/share-icon-white.png"/>
      <span class="section-title text-light" style="padding-left: 1rem"
      >Social</span
      >
    </div>

    <img
      class="btn-close cancel"
      type="button"
      src="assets/cancel-icon-white.png"
      (click)="modal.dismiss('Cross click')"
    />
  </div>
  <div class="modal-body" style="background-color: #f7f7f7;">
    <form>


      <div class="row mb-5 mt-3">

        <div class="col-md-6">
          <div class="input-group">
            <img style="margin-right: 0.5rem" class="social-icon" src="assets/facebook-icon.png">
            <input id="facebook" class="form-control" style="border-radius: 0.25rem;" />
          </div>
        </div>


        <div class="col-md-6">
          <div class="input-group">
            <img style="margin-right: 0.5rem" class="social-icon" src="assets/tik-tok-icon.png">
            <input id="tiktok" class="form-control"  style="border-radius: 0.25rem;"/>
          </div>
        </div>


      </div>




      <div class="row mb-5">




        <div class="col-md-6">
          <div class="input-group">
            <img style="margin-right: 0.5rem" class="social-icon" src="assets/linkedin-icon.png">
            <input id="linkedin" class="form-control" style="border-radius: 0.25rem;" />
          </div>
        </div>


        <div class="col-md-6">
          <div class="input-group">
            <img style="margin-right: 0.5rem" class="social-icon" src="assets/whatsapp-icon.png">
            <input id="whatsapp" class="form-control"  style="border-radius: 0.25rem;"/>
          </div>
        </div>

      </div>



      <div class="row mb-3">
        <div class="col-md-2">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Action</button>
              <button class="dropdown-item" type="button">Another action</button>
              <button class="dropdown-item" type="button">Something else here</button>
            </div>
          </div>

        </div>
        <div class="col-md-4">

          <div class="input-group">
            <input id="linkedin" class="form-control" />
          </div>
        </div>


        <div class="col-md-1">
        </div>
        <div class="col-md-5">


        </div>
      </div>


    </form>

    <div [align]="'right'" >
      <button
        type="button"
        class="btn text-light save-button"
        (click)="modal.close('Save click')"
      >
  <span class="text-light save-label section-title">SALVA</span>
      </button>
    </div>

  </div>
</ng-template>

<ng-template #company let-modal>
  <div class="modal-header" style="background-color: var(--black_ez)">
    <div>
      <img class="user" src="assets/company-icon-white.png"/>
      <span class="section-title text-light" style="padding-left: 1rem"
      >Azienda</span
      >
    </div>

    <img
      class="btn-close cancel"
      type="button"
      src="assets/cancel-icon-white.png"
      (click)="modal.dismiss('Cross click')"
    />
  </div>
  <div class="modal-body" style="background-color: #f7f7f7;">
    <form>


      <div class="row mb-3">
        <div class="col-md-6">
          <div>
            <span>Nome azienda</span>
          </div>

          <div class="input-group">
            <input id="nomeAzienda" class="form-control" />
          </div>
        </div>


       <div class="col-md-6">
        <div>
         <span>Ambito</span>
        </div>
         <div class="input-group">
          <input id="ambito" class="form-control" />
         </div>
        </div>
      </div>




      <div class="row mb-3">
        <div class="col-md-6">
          <div>
            <span>Sito web</span>
          </div>

          <div class="input-group">
            <input id="sitoWeb" class="form-control" />
          </div>
        </div>


       <div class="col-md-6">

        <div>
          <span>Numero di telefono</span>
        </div>
        <div class="input-group">
          <input id="numeroDiTelefono" class="form-control" />

        </div>
        </div>
      </div>




      <div class="row mb-3">
        <div class="col-md-6">
          <div>
            <span>Città</span>
          </div>

          <div class="input-group">
            <input id="citta" class="form-control" />
          </div>
        </div>


       <div class="col-md-6">
        <div>
         <span>Indirizzo</span>
        </div>
         <div class="input-group">
          <input id="indirizzo" class="form-control" />
         </div>
        </div>
      </div>


    </form>

    <div [align]="'right'" >
      <button
        type="button"
        class="btn text-light save-button"
        (click)="modal.close('Save click')"
      >
  <span class="text-light save-label section-title">SALVA</span>
      </button>
    </div>

  </div>
</ng-template>

<ng-template #password let-modal>
  <div class="modal-header" style="background-color: var(--black_ez)">
    <div>
      <img class="user" src="assets/password-icon-white.png"/>
      <span class="section-title text-light" style="padding-left: 1rem"
      >Password</span
      >
    </div>

    <img
      class="btn-close cancel"
      type="button"
      src="assets/cancel-icon-white.png"
      (click)="modal.dismiss('Cross click')"
    />
  </div>
  <div class="modal-body">
    <h1>MODAL PASSWORD</h1>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn text-light"
      style="background-color: var(--black_ez)"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>


<div class="row">
  <div class="col-md-4 d-flex flex-column justify-content-between" style="margin-top: 3rem">

    <!-- photo, camera and description -->
    <div>
      <div class="d-flex flex-row justify-content-center">
        <img class="rounded-circle" src="assets/avatar-image.png"/>
        <img class="camera" src="assets/camera-icon.png"
        />
      </div>

      <div class="d-flex flex-row justify-content-center mt-3 mb-md-0 mb-2">
        <span style="font-size: 0.9rem; text-align: center;"
        >Clicca sull'immagine per modificarla
        </span>
      </div>
    </div>

    <div class="mb-3 d-none d-md-inline-flex flex-row justify-content-center">
      <span class="section-title">Assistenza</span>
      <img
        style="margin-left: 0.5rem"
        class="question-mark"
        src="assets/question-mark.png"
      />

    </div>


  </div>

  <div class="col-md-8 main-section-style">
    <div style="padding-left: 1rem">
      <h5>Gestione Account Pubblico</h5>
    </div>

    <div
      (click)="openGenericModal(profile)"
      class="row box-shadow"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/user-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Profilo</span>
        </div>
        <div>
          <span style="font-size: 1rem">Nome, Compagnia, ecc.</span>
        </div>
      </div>
    </div>

    <div
      (click)="openGenericModal(contacts)"
      class="row box-shadow"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/email-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Contatti</span>
        </div>
        <div>
          <span style="font-size: 1rem">Telefono, Mail, Sito web</span>
        </div>
      </div>
    </div>

    <div
      (click)="openGenericModal(social)"
      class="row box-shadow"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/share-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Social</span>
        </div>
        <div>
          <span style="font-size: 1rem">Linkedin, Facebook, Instagram</span>
        </div>
      </div>
    </div>

    <div
      (click)="openGenericModal(company)"
      class="row box-shadow"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/azienda-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Azienda</span>
        </div>
        <div>
          <span style="font-size: 1rem">Sito web, Telefono, Indirizzo</span>
        </div>
      </div>
    </div>

    <div class=" mt-5" style="padding-left: 1rem">
      <h5>Gestione Account Privato</h5>
    </div>

    <div
      class="row box-shadow"
      routerLink="/stats"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/stats-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Statistiche</span>
        </div>
        <div>
          <span style="font-size: 1rem">Visite, Click, ecc.</span>
        </div>
      </div>
    </div>

    <div
      class="row box-shadow"
      routerLink="/settings"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/settings-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Impostazioni</span>
        </div>
        <div>
          <span style="font-size: 1rem">Email, Lingua, ecc.</span>

        </div>
      </div>
    </div>

    <div
      (click)="openGenericModal(password)"
      class="row box-shadow"
    >
      <div class="col-2 col-md-1 mt-1">
        <img class="user" src="assets/password-icon.png"/>
      </div>
      <div class="col-10 col-md-11">
        <div>
          <span class="section-title">Password</span>
        </div>
        <div>
          <span style="font-size: 1rem">Impostazioni password</span>
        </div>
      </div>
    </div>
  </div>

  <div class="d-inline d-md-none">
    <div class="row assistenza-footer" [align]="'center'">
      <div>
        <span class="section-title text-light">Assistenza</span>

        <img
          style="margin-left: 0.5rem"
          class="question-mark"
          src="assets/question-mark-icon-white.png"
        />
      </div>
    </div>
  </div>
</div>


