.question-mark {
  width: 20px;
  height: 20px;
}

.camera {
  width: 25px;
  height: 25px;
}
.user {
  width: 40px;
  height: 40px;
}
.cancel {
  width: 18px;
  height: 18px;
}


span {
  color: var(--black_ez);
}

h5 {
  color: var(--black_ez);
}

.section-title{
  font-size: 1rem;
  font-weight: 700;
}

.box-shadow{
  padding-left: 1rem;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
.box-shadow:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
    border-radius: 0.35rem;


}

