hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
}

.border-radius-popup {
border-radius: 1rem;

}



.size-icon{
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
span {
  color: var(--black_ez);
}


