<div class="container-fluid" style="margin-top: 1rem">
  <div class="row">
    <div style="display: flex; justify-content: space-between">
      <h3>Lista utenti</h3>
      <button class="btn" style="background-color:var(--black_ez); color: white" (click)="createUser()">Aggiungi Utente</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Ruoli</th>
        <th scope="col">Attivo</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of users" [ngClass]="u.username == currentUsername? 'table-info' : ''">
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td style="text-overflow: ellipsis">{{u.role_string}}</td>
        <td>
          <img *ngIf="u.enabled" src="assets/correct.png" width="25" height="25" style="cursor: pointer"/>
          <img *ngIf="!u.enabled" src="assets/remove.png" width="25" height="25" style="cursor: pointer"/>
        <td>
          <img src="assets/qr-code.png" width="25" height="25" (click)="showQrCodeProfile(u)" style="cursor: pointer"/>
          <img src="assets/edit-dark-icon.png" width="25" height="25" (click)="modifyUser(u)" style="cursor: pointer"/>
          <!--<i class="bi bi-qr-code action-icon" (click)="showQrCodeProfile(u)"></i>-->
          <!--<i class="bi bi-pencil-square action-icon" (click)="modifyUser(u)"></i>-->
          <img *ngIf="u.username != currentUsername && u.enabled" src="assets/delete.png" width="25" height="25" (click)="disableUser(u)" style="cursor: pointer"/>
          <img *ngIf="u.username != currentUsername && !u.enabled" src="assets/add.png" width="25" height="25" (click)="disableUser(u)" style="cursor: pointer"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
