<div  *ngIf="loading" class="loading-container justify-content-center align-items-center">
  <div class="spinner-border spinner-style" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<!-- the application -->
<div class="site-container">
  <div class="sticky-top">
    <app-header
      [showHeader]="this.showHeader"
      [showHomeIcon]="this.showHomeIcon"
      [showLogoutIcon]="this.showLogoutIcon"
      [pageTitle]="this.pageTitle"></app-header>
  </div>
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
</div>
