.cancel {
  width: 18px;
  height: 18px;
}

span {
  color: var(--black_ez);
}

.section-title {
  font-size: 1rem;
  font-weight: 700;
}
.save-label {
  padding-left: 2rem;
  padding-right: 2rem;
}

.save-button{
  border-radius: 24px;
  background-color: var(--black_ez)
}


.border-radius-popup {
  border-radius: 24px
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
  background-color: #f7f7f7;
  color: red;
  outline: none;

}

.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: none;
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
  border-bottom:#f7f7f7;

}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color:var(--black_ez)
}

.section-title {
  font-size: 1rem;
  font-weight: 700;
}
