<div class="modal-header" style="background-color: var(--black_ez)">
  <div>
    <img class="user" src="assets/company-icon-white.png"/>
    <span class="section-title text-light" style="padding-left: 1rem"
    >Azienda</span
    >
  </div>

  <img
    class="btn-close cancel"
    type="button"
    src="assets/cancel-icon-white.png"
    (click)="closeModal()"
  />
</div>
<div class="modal-body border-radius-popup gray-background">
  <form>


    <div class="row ">
      <div class="col-md-6">
        <div>
          <span>Nome azienda</span>
        </div>

        <div class="input-group mb-3">
          <input id="nomeAzienda" class="form-control" />
        </div>
      </div>


      <div class="col-md-6">
        <div>
          <span>Ambito</span>
        </div>
        <div class="input-group mb-3">
          <input id="ambito" class="form-control" />
        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-6">
        <div>
          <span>Sito web</span>
        </div>

        <div class="input-group mb-3">
          <input id="sitoWeb" class="form-control" />
        </div>
      </div>


      <div class="col-md-6">

        <div>
          <span>Numero di telefono</span>
        </div>
        <div class="input-group mb-3">
          <input id="numeroDiTelefono" class="form-control" />

        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-md-6">
        <div>
          <span>Città</span>
        </div>

        <div class="input-group mb-3">
          <input id="citta" class="form-control" />
        </div>
      </div>


      <div class="col-md-6">
        <div>
          <span>Indirizzo</span>
        </div>
        <div class="input-group mb-4 mb-md-5">
          <input id="indirizzo" class="form-control" />
        </div>
      </div>
    </div>


  </form>

  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn text-light save-button">
      <span class="text-light save-label section-title">SALVA</span>
    </button>
  </div>

</div>
