<div class="center" style="position: relative; top: 25%">
  <div class="row justify-content-center mb-4">
    <img class="logo-center" src="./assets/black-logo.png" alt=""/>
  </div>

  <div class="row justify-content-center">
    <div class="col-11 col-sm-9 col-md-6 col-lg-4">
      <div class="card rounded-card">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <form style="display: flex; justify-content: center; align-content: center">
              <div class="col-11">
                <div class="form-group mt-3">
                  <label for="email" class="text-light">Email</label>
                  <input
                    style="border-radius: 0.15rem"
                    type="text"
                    name="email"
                    id="email"
                    class="form-control"
                    [(ngModel)]="form.email"
                    required
                    #username="ngModel"
                  />

                  <div *ngIf="username.invalid && username.dirty" class="text-danger">
                    <span>Please enter username</span>
                  </div>

                </div>
                <div class="form-group mt-3">
                  <label for="password" class="text-light">Password</label>
                  <input
                    style="border-radius: 0.15rem"
                    type="password"
                    name="password"
                    [(ngModel)]="form.password"
                    #password="ngModel"
                    required
                    id="password"
                    class="form-control"
                  />

                  <div *ngIf="password.invalid && password.dirty" class="text-danger">
                    <span>Please enter password</span>
                  </div>
                </div>

                <!--              <div class="form-group form-check mt-3">-->
                <!--                <input-->
                <!--                  id="rememberMe"-->
                <!--                  type="checkbox"-->
                <!--                  class="form-check-input"-->
                <!--                />-->
                <!--                <label class="form-check-label text-light"-->
                <!--                >Mantieni accesso</label-->
                <!--                >-->
                <!--              </div>-->

                <div *ngIf="showErrorCredentials" class="mt-3 text-danger">
                  <span>Invalid credentials</span>
                </div>

                <div class="row mt-3 mb-3">
                  <div class="d-flex flex-row-reverse">
                    <input
                      type="submit"
                      name="LOGIN"
                      class="btn btn-md text-light m-2 login-button py-1"
                      value="LOGIN"
                      (click)="login()"
                    />
                    <!--<a routerLink="/forget-password" class="m-3 text-light"
                    >Password dimenticata?</a
                    >-->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
