.cancel {
  width: 18px;
  height: 18px;
}

span {
  color: var(--black_ez);
}

h5 {
  color: var(--black_ez);
}

.section-title {
  font-size: 1rem;
  font-weight: 700;
}


.border-radius-popup {
  border-radius: 24px
}

