<div class="modal-header" style="background-color: var(--black_ez)">
  <div>
    <img class="icon-size" src="../../../assets/company-white-rounded-icon.png" />
    <span class="section-title text-light" style="padding-left: 1rem"
      >Azienda</span
    >
  </div>

  <img
    class="btn-close cancel"
    type="button"
    src="../../../assets/cancel-icon-white.png"
    (click)="closeModal()"
  />
</div>

<div class="modal-body border-radius-popup gray-background">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li *ngFor="let id of tabs; index as i" [ngbNavItem]="id">
      <a ngbNavLink>
       {{ id.companyName }}
        <img
          src="../../../assets/cancel-icon.png"
          class="cancel-dark"
          (click)="close($event, id)"
        />
      </a>
      <ng-template ngbNavContent>
        <form>
          <div class="mt-4">
            <span > Info Azienda</span>
          </div>

          <div class="row">
            <div class="col-md-6" >
              <div class="input-group mt-md-4 mt-3">
                <input
                style="border-radius: 0.4rem;"
                  placeholder="Nome Azienda"
                  class="form-control"
                  [name]="computeInputName(id.companyName, i)"
                  [(ngModel)]="id.companyName"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group mt-md-4 mt-3">
                <input style="border-radius: 0.4rem;"
                       placeholder="P.Iva"
                       class="form-control"
                       [name]="computeInputName(id.vatNumber, i)"
                       [(ngModel)]="id.vatNumber"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group mt-md-4 mt-3">
                <input
                style="border-radius: 0.4rem;"
                  placeholder="Indirizzo"
                  class="form-control"
                  [name]="computeInputName(id.address, i)"
                  [(ngModel)]="id.address"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group mt-md-4 mt-3">
                <input style="border-radius: 0.4rem;"
                       placeholder="Telefono"
                       class="form-control"
                       [name]="computeInputName(id.phoneNumber, i)"
                       [(ngModel)]="id.phoneNumber"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group mt-md-4 mt-3">
                <input style="border-radius: 0.4rem;"
                       placeholder="Email"
                       class="form-control"
                       [name]="computeInputName(id.email, i)"
                       [(ngModel)]="id.email"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="input-group mt-md-4 mt-3">
                <input
                style="border-radius: 0.4rem;"
                  placeholder="Codice SDI"
                  class="form-control"
                  [name]="computeInputName(id.codeSDI, i)"
                  [(ngModel)]="id.codeSDI"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-4 mt-md-4 mt-3">
                <input style="border-radius: 0.4rem;"
                       placeholder="Pec"
                       class="form-control"
                       [name]="computeInputName(id.pec, i)"
                       [(ngModel)]="id.pec"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="input-group mb-4 mt-md-4 mt-3">
                <input style="border-radius: 0.4rem;"
                       placeholder="Sito Web"
                       class="form-control"
                       [name]="computeInputName(id.website, i)"
                       [(ngModel)]="id.website"
                />
              </div>
            </div>
          </div>


          <span> Social azienda</span>
            <div class="row">
              <div class="col-md-12" *ngFor="let element of id.socials; index as i">

                <div class="input-group mt-md-4 mt-3">
                  <img
                    style="margin-right: 0.5rem"
                    class="icon-size"
                    [src]="formatSocialIcon(element.name)"
                    />

                  <input
                    class="form-control"
                    style="border-radius: 0.4rem"
                    [name]="computeInputName(element.value, i)"
                    [placeholder]="element.name"
                    [(ngModel)]="element.value"
                  />

                  <div style="cursor: pointer;" (click)="remove(id,element)">
                    <img
                      style="margin-left: 0.5rem"
                      src="../../../assets/trash-icon.png"
                      class="cancel-input"
                    />
                  </div>
                </div>
              </div>
            </div>




          <div class="d-md-flex flex-md-row d-flex flex-column justify-content-md-end align-items-center mt-3 mt-md-4" >
            <div class="p-2">
              <div ngbDropdown>
                <button
                  style="border-radius: 24px"
                  type="button"
                  class="btn add-social-button"
                  [disabled]="socialDropdoun.length == 0"
                  ngbDropdownToggle
                >
                  Aggiungi social
                </button>
                <div ngbDropdownMenu>
                  <div *ngFor="let social of socialDropdoun; index as i">
                    <button class="dropdown-background dropdown-items" ngbDropdownItem (click)="addSocial(id,social)">
                      <img
                        src="{{ formatSocialIcon(social.name) }}"
                        width="20"
                        height="20"
                        style="margin-right: 0.5rem"
                      />
                      {{ social.name }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-2">
              <button type="button" class="btn text-light save-button" (click)="save()">
                <span class="text-light save-label section-title">SALVA</span>
              </button>
            </div>
          </div>



        </form>
      </ng-template>
    </li>
    <div *ngIf="tabs.length < 3">
      <li class="nav-item">
        <a class="nav-link" (click)="add($event)"><img class="add-dark" src="../../../assets/plus-icon.png"></a>
      </li>
    </div>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
