<section *ngIf="showProfile" class="d-md-none d-flex">
  <div class="col-12">
    <div class="card profile-card-2 card-style">
      <div class="card-img-block">
        <img
          class="img-fluid"
          [src]=imageCoverUrl
          alt="Card image cap"
        />
      </div>
      <div class="card-body pt-5">
        <div class="row">
          <div class="col-6">
            <img
              style="object-fit: cover; height: 140px; width: 140px;"
              [src]=imageProfileUrl
              alt="profile-image"
              class="profile"
            />
          </div>
          <div class="col-6 icon-position" [align]="'right'">
            <img
              class="icon-size"
              src="/assets/share-dark-rounded-icon.png"
              style="margin-right: 0.7rem"
            />

            <img class="icon-size" src="/assets/qrcode-dark-rounded-icon.png"/>
          </div>
        </div>
        <h5 class="card-title mt-2"><b>{{profile.profileContainer.firstName + " " + profile.profileContainer.lastName}}</b>
        </h5>
        <span class="card-subtitle">{{profile.profileContainer.role}}</span>

        <div class="mt-4 mb-4">
          <button type="button" class="btn save-button" [vcdDownloadVCard]="vCard" [encoding]="vCardEncoding.none">
            <span class="text-light"
            ><img
              class="add-icon"
              src="assets/add-contact-icon.png"
              style="margin-right: 0.75rem"
            />Aggiungi ai contatti</span
            >
          </button>
        </div>

        <p class="card-text">
          {{profile.profileContainer.description}}
        </p>

        <div class="row mt-3 mb-3" style="text-align: center">
          <div class="col-2 mt-2" *ngFor="let s of profile.socials; index as i">
            <a [href]=s.value target="_blank">
              <img
                class="icon-size"
                [src]=formatSocialIcon(s.name)
              />
            </a>
          </div>
        </div>

        <div *ngIf="this.profile.contacts.length > 0">
          <span class="card-subtitle">CONTATTI</span>

          <div class="card card-contact mt-3 mb-5">
            <div class="no-divider" *ngFor="let c of profile.contacts; index as j">
              <a [href]="formatHref(c)">
                <span>
                  <img
                    class="icon-card"
                    [src]="formatContactIcon(c.name)"
                  />{{c.value}}
                </span>
              </a>
              <hr/>
            </div>
          </div>
        </div>

        <div *ngIf="profile.companies.length > 0">
          <app-profile-container-company [companyArray]="profile.companies"></app-profile-container-company>
        </div>

        <div *ngIf="profile.presentation.length > 0">
          <app-profile-container-presentation [presentationArray]="profile.presentation"></app-profile-container-presentation>
        </div>

        <div *ngIf="profile.gallery.length > 0">
          <app-profile-container-gallery [galleryArray]="profile.gallery"></app-profile-container-gallery>
        </div>

        <div *ngIf="profile.partner.length > 0">
          <app-profile-container-partner [partnerArray]="profile.partner"></app-profile-container-partner>
        </div>

        <hr class="mt-5"/>

        <div class="mt-4" style="text-align: center">
          <img type="button" class="logo" src="assets/black-logo.png"/>
        </div>
        <div
          class="mt-2"
          style="text-align: center"
        >
          <span style="font-size: 10px"
          >POWERED BY
            <b
            ><a href="{{ezCardWebsiteLink}}" style="color: black"
            >EZCARD</a
            ></b
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="showProfile" class="row d-md-flex d-none">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div class="card profile-card-2 card-style">
      <img
        style="object-fit: cover; height: 300px"
        [src]=imageCoverUrl
        alt="Card image cap"
      />

      <div class="card-body pt-5">
        <img
          style="object-fit: cover; height: 150px; width: 150px;"
          [src]=imageProfileUrl
          class="profile-web"
        />

        <div style="margin: 3rem">
          <h5 class="card-title mt-5">
            <b>{{profile.profileContainer.firstName + " " + profile.profileContainer.lastName}}</b></h5>
          <span class="card-subtitle">{{profile.profileContainer.role}}</span>

          <div class="mt-4 mb-4">
            <button type="button" class="btn save-button" [vcdDownloadVCard]="vCard" [encoding]="vCardEncoding.none">
              <span class="text-light">
                <img
                  class="add-icon"
                  src="assets/add-contact-icon.png"
                  style="margin-right: 0.75rem"
                />Aggiungi ai contatti</span
              >
            </button>
          </div>

          <p class="card-text">
            {{profile.profileContainer.description}}
          </p>

          <div class="row mt-3 mb-3" style="text-align: center">
            <div class="col-2 mt-2" *ngFor="let s of profile.socials; index as i">
              <a [href]=s.value target="_blank">
                <img
                  class="icon-size"
                  [src]=formatSocialIcon(s.name)
                />
              </a>
            </div>
          </div>

          <div *ngIf="this.profile.contacts.length > 0">
            <span class="card-subtitle">CONTATTI</span>

            <div class="card card-contact mt-3 mb-5">
              <div class="no-divider" *ngFor="let c of profile.contacts; index as j">
                <a [href]="formatHref(c)">
                <span>
                  <img
                    class="icon-card"
                    [src]="formatContactIcon(c.name)"
                  />{{c.value}}
                </span>
                </a>
                <hr/>
              </div>
            </div>
          </div>

          <div *ngIf="profile.companies.length > 0">
            <app-profile-container-company [companyArray]="profile.companies"></app-profile-container-company>
          </div>

          <div *ngIf="profile.presentation.length > 0">
            <app-profile-container-presentation
              [presentationArray]="profile.presentation"></app-profile-container-presentation>
          </div>

          <div *ngIf="profile.gallery.length > 0">
            <app-profile-container-gallery [galleryArray]="profile.gallery"></app-profile-container-gallery>
          </div>

          <div *ngIf="profile.partner.length > 0">
            <app-profile-container-partner [partnerArray]="profile.partner"></app-profile-container-partner>
          </div>


          <hr class="mt-5"/>

          <div class="mt-4" style="text-align: center">
            <img type="button" class="logo" src="assets/black-logo.png"/>
          </div>
          <div
            class="row mt-2"
            style="text-align: center"
          >
            <span style="font-size: 10px"
            >POWERED BY
              <b
              ><a href="{{ezCardWebsiteLink}}" style="color: black">EZCARD</a
              ></b
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>
