ngb-carousel img {
  width: 100%;
  outline: none;
  border-radius: 0.75rem;
}

.carousel {
  border-radius: 0.75rem;
  overflow: hidden;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}
.carousel-inner {
  overflow: hidden;
}

.carousel-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}
.carousel-indicators {
  z-index: 20;
}
