:root {
  --black_ez: #030e2a;
  --green_ez: #00e89c;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.gray-background {
  background-color: #f7f7f7;
}
.assistenza-footer {
  background-color: var(--black_ez);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
