<div class="modal-header" style="background-color: var(--black_ez)">
  <div>
    <img class="icon-size" src="assets/user-icon-white.png"/>
    <span class="section-title text-light" style="padding-left: 1rem">Profilo</span>
  </div>

  <img
    class="btn-close cancel"
    type="button"
    src="assets/cancel-icon-white.png"
    (click)="closeModal()"
  />
</div>
<div class="modal-body border-radius-popup gray-background" >
  <form>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div>
          <span>Nome</span>
        </div>

        <div class="input-group mb-3">
          <input id="firstName" class="form-control"/>
        </div>
      </div>


      <div class="col-md-6 col-sm-12">
        <div>
          <span>Cognome</span>
        </div>
        <div class="input-group mb-3">
          <input id="lastName" class="form-control"/>
        </div>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-6 col-sm-12">
        <div>
          <span>Ruolo</span>
        </div>
        <div class="input-group mb-4 mb-md-5">
          <input id="role" class="form-control"/>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group mb-4 mb-md-5">
          <label for="exampleFormControlTextarea1">Descrizione</label>
          <textarea maxlength="250" class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
        </div>
      </div>
    </div>

  </form>

  <div class="d-flex flex-row-reverse">
    <button type="button" class="btn text-light save-button">
      <span class="text-light save-label section-title">SALVA</span>
    </button>
  </div>

</div>
