<div class="modal-header" style="background-color: var(--black_ez)">
  <div>
    <img src="/assets/qr-code-light.png" width="25" height="25"/>
    <span class="section-title text-light" style="padding-left: 1rem"
    >QrCode</span
    >
  </div>

  <img
    class="btn-close cancel"
    type="button"
    src="/assets/cancel-icon-white.png"
    (click)="closeModal()"
  />
</div>

<div class="modal-body border-radius-popup">
  <div class="mb-2 d-flex justify-content-center flex-wrap">
    <img [src]="qrCodeImage" width="256" height="256" style="margin-bottom: 1rem">
    <a [href]="link" target="_blank">
      <span>{{link}}</span>
    </a>
  </div>
</div>
