<div class="center" style="position: relative; top: 25%">
  <div class="row justify-content-center mb-4">
    <img class="logo-center" src="assets/black-logo.png"/>
  </div>

  <div class="row justify-content-center">
    <div class="col-11 col-sm-9 col-md-6 col-lg-4">
      <div class="card rounded-card">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" style="display: flex; justify-content: center; align-content: center">
              <div class="col-11">
                <div class="form-group mt-3">
                  <label for="newPassword" class="text-light">Password</label>
                  <input
                    style="border-radius: 0.15rem"
                    type="password"
                    name="password"
                    id="newPassword"
                    class="form-control"
                    formControlName="newPassword"
                    [(ngModel)]="form.password"
                    required
                  />
                  <div
                    *ngIf="
                newPassword.invalid &&
                (newPassword.dirty || newPassword.touched)
              "
                    class="form-text text-danger"
                  >
                    <div *ngIf="newPassword.errors?.['required']">
                      Field is required
                    </div>
                    <div *ngIf="newPassword.errors?.['pattern']">
                      Password must contain at least one number, one uppercase and a
                      lowercase letter and at least 8 characters<br/>Password cannot
                      contain whitespace
                    </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="confirmPassword" class="text-light">Confirm Password</label>
                  <input
                    style="border-radius: 0.15rem"
                    type="password"
                    name="confirmPassword"
                    [ngClass]="confirmPasswordClass"
                    formControlName="confirmPassword"
                    required
                    id="confirmPassword"
                    class="form-control"
                  />
                  <div
                    *ngIf="
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
              "
                    class="form-text text-danger"
                  >
                    <div *ngIf="confirmPassword.errors?.['required']">
                      Field is required
                    </div>
                    <div *ngIf="confirmPassword.errors?.['pattern']">
                      Password must contain at least one number, one uppercase and a
                      lowercase letter and at least 8 characters<br/>Password cannot
                      contain whitespace
                    </div>
                    <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                      Passwords did not match
                    </div>
                  </div>
                </div>

                <div class="row mt-3 mb-3">
                  <div class="d-flex flex-row-reverse">
                    <input
                      [disabled]="disableButton"
                      type="submit"
                      name="RESET"
                      class="btn btn-md text-light login-button"
                      value="RESET"
                      (click)="resetPassword()"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
