<div class="center">
  <div class="row justify-content-center mb-4">
    <img class="logo-center" src="/assets/black-logo.png" />
  </div>

  <div class="row justify-content-center">
    <div class="card rounded-card">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <form class="form">
            <div class="col-md-12">
              <div class="form-group mt-3">
                <label for="password" class="text-light">Password</label>
                <input
                  style="border-radius: 0.15rem"
                  type="text"
                  name="password"
                  id="password"
                  class="form-control"
                  [(ngModel)]="form.password"
                  required
                  #password="ngModel"
                />
              </div>
              <div class="form-group mt-3">
                <label for="confirmPassword" class="text-light">Confirm Password</label>
                <input
                  style="border-radius: 0.15rem"
                  type="password"
                  name="confirmPassword"
                  [(ngModel)]="form.confirmPassword"
                  #confirmPassword="ngModel"
                  required
                  id="confirmPassword"
                  class="form-control"
                />
              </div>

              <div class="row mb-3">
                <div class="d-flex flex-row-reverse">
                  <input
                    type="submit"
                    name="LOGIN"
                    class="btn btn-md text-light mt-3 login-button"
                    value="RESET"
                    (click)="resetPassword()"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
