img {
  width: 230px;
  height: 50px;
}

.container {
  position: relative;
  width: 27rem;
}

.center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rounded-card {
  background-color: var(--black_ez);
  border-radius: 0.15rem;
}

.login-button {
  background-color: var(--green_ez);
  padding: 0 1rem;
  border-radius: 0.15rem;
}

.form-check-input:checked {
  background-color: var(--green_ez);
  border-color: var(--green_ez);
}
